@import url('https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Atma:700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.maateen.me/kalpurush/font.css');
#main-bodya{
	background-color: #f1ed62;
	margin:0;
	padding:0;
}

.home-section{
    display:grid;
    width:100%;
    grid-template-columns: auto auto;
    grid-gap: 0 2vw ;
    padding: 0 6vw;
    box-sizing: border-box;
}

/* header */
.header{
    display: block;
}
.header-top{
    background-image: url(../img/Image_home.jpg);
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    height: 56VW;
    position: relative;
}
.main-logo{
    position: absolute;
    top: 2%;
    left: .5%;
    width: 9.375VW;
    opacity: 1;
    transition: .3s all;
}
.main-logo-fixt{
    position: fixed;
    top: 2%;
    left: 1%;
    width: 40px;
    opacity: 0;
    z-index: 4;
}

.displayLogo{
    opacity: 0;
}

.displayLogoFix{
    opacity: 1;
}

.main-logo img{
   width: 100%;
}
.header-top img{
    width: 100%;
}
.main-text-add{
    position: absolute;
    top: 10%;
    left: 20%;
}
.main-text-add p{
    font-size: 3vw;
    color: #153940;
    line-height: 5vw;
    text-align: center;
    font-family: 'Kalpurush', sans-serif;
}
.main-text-add{
    animation: main-text-add 4s;
    animation-fill-mode: forwards;
    animation-fill-mode: main-text-add;
    animation-delay: 8s;
    opacity: 0;
}


@keyframes main-text-add{
    0% {
      
        top: 60%; opacity: 1;
      }
     
      100% {
        top: 15%; opacity: 1;
      }
}

.main-text-adda{
    position: absolute;
    top: 12%;
    left: 20%;
}
.main-text-adda p{
    font-size: 3vw;
    color: #153940;
    line-height: 6vw;
    text-align: center;
    font-family: 'Kalpurush', sans-serif;
}
.main-text-adda{
    animation: main-text-adda  4s;
    animation-fill-mode: forwards;
    animation-fill-mode: main-text-adda;
    animation-delay: 8.5s;
    opacity: 0;
}


@keyframes main-text-adda{
    0% {
      
        top: 60%; opacity: 1;
      }
     
      100% {
        top: 26%; opacity: 1;
      }
}

.main-text-addb span{
    font-size: 5vw;
    font-weight: 700;
    margin: 10px;
    line-height: 7vw;
}

.main-text-addb{
    position: absolute;
    top: 20%;
    left: 20%;
}
.main-text-addb p{
    font-size: 3vw;
    color: #153940;
    line-height: 5vw;
    text-align: center;
    font-family: 'Kalpurush', sans-serif;
}
.main-text-addb{
    animation: main-text-addb  4s;
    animation-fill-mode: forwards;
    animation-fill-mode: main-text-addb;
    animation-delay: 9s;
    opacity: 0;
}


@keyframes main-text-addb{
    0% {
      
        top: 60%; opacity: 1;
      }
     
      100% {
        top: 35%; opacity: 1;
      }
}

.menu-buttom{
    display:grid;
    width:78%;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0 0px;
    box-sizing: border-box;
    position: absolute;
    bottom: 1%;
    left: 0;
    font-family: Atma;
}
@media screen and (max-width: 900px){
    .menu-buttom {
        bottom: 15%;
    }
}
@media screen and (max-width: 768px){
    .menu-buttom {
        bottom: 20%;
    }
    #test {
      font-size: 20px !important;
    }
}
.square-section{
    position: absolute;
    top:10%;
    left: 10%;
    width: 25%;
    height: 25%;
    /* background-color: #000000; */
    text-align: center;
    display: none;
    color: #000;
}

#test{
    color: #000;
    font-size: 30px;
    z-index: 10;
    line-height: 8vw;
    font-family: 'Playfair Display', serif;
}

.cursor:after {
    content:"_";
    opacity: 0;
    animation: cursor 1s infinite;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.circle {
    position: absolute;
    top:10%;
    left: 20%;
    width: 18%;
    height: 20vw;
    color: #000;
    border-radius: 326px;
    /* background-color: #343B41; */
    text-align: center;
    transition: all 4s ease-in-out;
    display: none;
}

.text {
    color: blue;
    text-align: center;
    padding-top: 0px;
    transition: all .3s ease-in-out;
}

/* header */

.main-botton{
    width: 90%;
    margin: 20px auto;
    padding: 30px 0;
    background:#F1ED62ff;
    cursor: pointer;
    text-align: center;
    bottom: 10px;
}
.menu-buttom a{
    text-decoration: none;
    color: #3E454B;
    margin: 0;
    padding: 0;
}

/* menu start */
.font-toggle{
    padding: .5vw 2vw;
    box-sizing: border-box;
    color: #153940;
    font-size: 3vw;
    right: 0;
    position: fixed;
    cursor: pointer;
    z-index: 1;
}
.font-toggle:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 
    cursor: pointer;
    transition: transform .2s;
}
.font-menu-bar{
    display: none;
    float: left;
    width: 50%;
    text-align: center;
    background: #153940;
    position: fixed;
    z-index: 100;
}
.toggle{
    display:block;
}
.active{
    display:block;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #395E64;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #818181;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.last-show{
    margin-top: 30px;  
     -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor: pointer;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* main end */
.step_item:nth-child(1) .anime {
    background-image: url(../img/step1_anime.png) !important;
}
.step_item:nth-child(2) .anime {
    background-image: url(../img/step2_anime.png) !important;
}
.step_item:nth-child(3) .anime {
    background-image: url(../img/step3_anime.png) !important;
}


.show-more:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
    cursor: pointer;
    transition: transform .2s;
}
.show-more-a{
    text-decoration: none;
    color: #fff;
}

.main-header h2 {
    text-align: center;
    font-size: 3vw;
    color: #153940;
    font-family: Atma;
    margin: 46px;
}
.t-shart-header h2 {
    text-align: center;
    font-size: 2.5vw;
    color: #153940;
    font-family: Atma;
    margin: 0 0 3vw 0;
}
.arrow{
    width: 4%;
    margin: 0 auto;
    position: relative;
    top: 0;
    -webkit-animation: floatBubble 1s infinite  ease-in-out forwards;
    animation: floatBubble 1s infinite  ease-in-out forwards;
}
@-webkit-keyframes floatBubble {
   0% {
       top:0px;
   }
   50% {
       top: 10px;
   }
   100% {
       top: 0px;
   }
}
@keyframes floatBubble {
   0% {
       top:0px;
   }
   50% {
       top: 10px;
   }
   100% {
       top: 0px;
   }
}
.arrow img{
   width: 100%;
}

/* footer start */

#footer-section{
    background: #2A2A2A;
}
.footer-fast{
    text-align: center;
  

}
.footer-fast ul{
    font-size: 1vw;
}
.footer-fast ul li{
    display: inline-block;
    margin: 10px;
    border-right: 1px solid;
    color: #fff;
}
.footer-fast ul li a{
    text-decoration: none;
    margin: 0 3vw 3vw;
    color: #fff;

}
.footer-seand{
    display:grid;
    width:100%;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0 2vw ;
    padding: 0 6vw;
    box-sizing: border-box;
}
.footer-text {
    color: #fff;
}
.footer-text p {
    color: #89E0F2;
    font-size: 20px;
    margin: .5vw 0;
}
.footer-text ul{
    float: left;
 }
.footer-text a{
    float: left;
    text-decoration: none;
    color: #fff;
    margin: .2vw;
}
.footer-text i{
    line-height: 33px;
    margin: 0 0 0 1vw;
}


/* footer end */


/* card page */
.slide-image{
    position: absolute;
    top:10%;
    left: 2%;
    width: 40%;
}
.slide-image{
    position: absolute;
    animation: slide-image;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes slide-image{
    0% {left: -5000px}
    100% {left: 5.5%}
}
.img2{
    position: absolute;
    top:10%;
    left: 20%;
    width: 25.5%;
    animation: mymove 5s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity:0;
}

@keyframes mymove {
    from {opacity: 0;}
    to {opacity: 1;}
}
.img2 img{
  width: 100%;
}
.text-type{
    position: absolute;
    top:0%;
    left: 8%;
    z-index: 200;
    color: #000000;
}
#test2{
  color: #3A4E58;
    font-size: 20px ;
    width: 41%;
    font-weight: 700;
    line-height: 3;
}
.cursor2: {
    content:"_";
    opacity: 0;
    animation: cursor 3s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
}
@keyframes cursor2 {
    0% {
        opacity: 0;
    }
    40% {
        opacity: .5;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
.header-card-top{
    background-image: url(../img/card/arrow-blond-hair-chess-pieces-1406360.jpg);
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    height: 56VW;
    position: relative;
}
.header-card-top img{
    width: 100%;
}
/*  mug page start */
 
.header-top-mug{
    background-image: url(../img/Mug/back.png);
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    height: 668px;
   position: relative;
}

.box{
    width: 120px;
    height: 150px;
    border: 2px solid #fff;
    border-radius: 0.3em;
    position: absolute;
    box-shadow: 2px 0px 5px #000;
    overflow: hidden;
    transform: scale(2);
    top: 44%;
    right: -50%;
    z-index: 1;
}
.wave{
    width: 200px;
    height: 220px;
    position: absolute;
    left: -50%;
    bottom: -190%;
    border-radius: 33%;
    animation: wave 4.4s linear infinite;
    animation-delay: 10s;
}
.lightblue{
    background: linear-gradient(to right, #eaeccd, #2bc0e4);
}
@keyframes wave{
    0%{
        transform: rotate(0);
        border-radius: 30%;
        bottom: -170px;
    }
    45%{
        border-radius: 39%;
    }
    100%{
        transform: rotate(360deg);
        border-radius: 30%;
        bottom: -80px;
    }
}
.hilt{
    width: 120px;
    height: 90px;
    margin-left:35px;
    overflow: hidden;


}
.handle{
    width: 120px;
    height: 70px;
    border: 8px solid #eee;
    border-radius:4em;
    border-left: none;
    transform: translateX(-50px);
    position: absolute;
    top: 50%;
    right: -78%;
    overflow: hidden;
}

.drops{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    right:-40%;
    border-radius: 1em;
    border-top-right-radius: .2em;
    animation: drops 2s linear infinite;
    animation-delay:7s ;
    opacity: 0;
}
.drops:nth-child(2){
    right:-40%;
    opacity: 0;
    animation-delay:7.6s 
}
@keyframes drops{
    0%{
        opacity: 0.2;
        transform: translateY(0) rotate(-40deg);
    }
    20%{
        opacity: 1;  
    }
    100%{
        transform: translateY(350px) rotate(-40deg);
        opacity: 1;

    }
}

.camer-section{
    position: absolute;
    top:10%;
    left:0%;
}
.picture-part{
    position: absolute;
    top: 42%;
    left: 12%;
    width: 235px;
}
.picture-part {
    animation: picture-part 2s;
    animation-fill-mode: initial;
    animation-fill-mode: picture-part;
    animation-delay: .2s;
    opacity:0;
}


@keyframes picture-part {
    from {
        opacity: 0;

    }
    to {opacity: 1;}
}
.picture-part2{
    position: absolute;
    top: 43%;
    left: 12%;
    width: 205px;
}
.picture-part2 {
    animation: picture-part2  2s;
    animation-fill-mode: initial;
    animation-fill-mode: picture-part2;
    animation-delay: 2s;
    opacity:0;
}

 
@keyframes picture-part2 {
    from {opacity: 0;}
    to {opacity: 1;}
}
.picture-part3{
    position: absolute;
    top: 44%;
    left: 12%;
    width: 170px;
    border-radius: 0;
}

.picture-part3 {
    animation: picture-part3  4s;
    animation-fill-mode: forinitialwards;
    animation-fill-mode: picture-part2;
    animation-delay: 4s;
    opacity:0;
}

 
@keyframes picture-part3 {
    0% { left: 14%; opacity:0;border-radius:0; }
    50% { left: 14%; opacity:1; border-radius:50%;}
    100% {left: 65%;  opacity:1; border-radius:50%;}
      
    }
}


#test3{
  color: #3A4E58;
    font-size: 20px ;
    width: 100%;
    font-weight: 700;
    line-height: 3;
}

.text-type2{
    position: absolute;
    top:75%;
    right:21.5%;
    color: #000;
    font-size: 22px;
    z-index: 4;
}

.picture-fixt{
    position: absolute;
    top: 43%;
    right:22%;
    width: 170px;
}

.picture-fixt {
    animation: picture-fixt  4s;
    animation-fill-mode: forwards;
    animation-fill-mode: picture-fixt;
    animation-delay: 11s;
    opacity:0;
    z-index: 3;
}

 
@keyframes picture-fixt{
    from {opacity: 0;}
    to {opacity: 1;}
}
 

/* only card page*/

.only-main{
    width: 36%;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 10%;
    border-left: 40px solid #20bcaf;
    background: #f5e6e6 url(../img/card/rayhan-a.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.only-logo{
    width: 3.90625VW;
    height: auto;
    margin: 0 0 0 2.34375VW;
}

.only-logo{
    display: inline-block;
    animation: only-logo 2s;
    animation-fill-mode: forwards;
    animation-fill-mode: only-logo;
    animation-delay: 1s;
    opacity:0;
    height: 50px;
}

@keyframes only-logo{
    from {opacity: 0;}
    to {opacity: 1;}
}
 

.only-desin-img {
    animation: only-desin-img 2s;
    animation-fill-mode: forwards;
    animation-fill-mode: only-desin-img;
    animation-delay: 1s;
    opacity:0;
}

@keyframes only-desin-img{
    from {opacity: 0;}
    to {opacity: 1;}
}

.only-text-name address{
    animation: titleAnim 2s;
    animation-fill-mode: forwards;
    animation-fill-mode: titleAnim;
    transform: translateY(-10px);
    opacity: 0;
}


.only-ad-all {
    animation: only-ad-all 2s;
    animation-fill-mode: forwards;
    animation-fill-mode: only-ad-all;
    animation-delay: 2s;
    opacity:0;
}

@keyframes only-ad-all{
    from {opacity: 0;}
    to {opacity: 1;}
}


@keyframes titleAnim{
    from {
        opacity: 0;
        transform: translateY(-10px)
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}


.only-logo img{
    width: 100%;
    margin: 10px 0 0 0;
}
.only-text-name{
    width: 55%;
    margin: 12px auto  auto;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
}
.only-text-name span{
  display: block;
  font-size: 15px;
  font-weight: 200;
}
.only-font i{
    font-size: 10px;
    width: 5%;
    margin: 5px 0px 4px 12px;
    text-align: center;
    color: #38809f;
}
.ca-address{
    
margin: 10px 0 16px 24px;
}
.only-font span{
    color: #2d2a26;
    font-size: 12px;
}
.only-desin-img{
    position: absolute;
    top: 11.5%;
    left: 25.9%;
    width: 21.40625VW;
}
.only-desin-img img{
   width: 100%;
}

.only-address{
    margin: 1vw 0 0 7vw;
}
.font-phone-rot{
    transform: rotate(132deg);
}

.only-font{
    line-height: 0;
}
.ca-address p{
   font-size: 12px;
}

.only-logo-re-text{
    margin: -19px 0 0 8vw;
}
.only-logo-re-text p{
    font-weight: 700;
    font-size: 20px;
    color: #333333;
}


@media screen and (max-width: 768px) {
    .only-main {
        width: 350px;
    }
    .only-logo {
        width: 30px;
        margin: 0 0 0 8px;
    }
    .only-logo-re-text {
        margin: -28px 0 0 7vw;
    }
    .only-text-name {
        width: 46%;
        margin: 8px 55px auto;
        font-size: 12px;
    }
    .only-address {
        margin: 1vw 0 0 5vw;
    }
    .ca-address {
        margin: 8px 0 16px 14px;
    }
    .only-font span {
        font-size: 8px;
    }
    .ca-address p {
        font-size: 8px;
    }
    .only-desin-img {
        top: 9.5%;
        left: 23.9%;
        width: 245px;
    }
}


/* detile page */

.detil-body{
    background-color: #fff;

}
/* details page  start rayhan */
.de_fix_product{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 10px;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 6%;
}
.de_all_product{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.de_product_input_all{
    display: grid;
    grid-template-columns: auto  auto;
    grid-gap: 10px;
}
.de_fix_img{
    width: 50vw;
    height: 50vw;
    min-width: 220px;
    margin: 0 auto;
}
.de_fix_fast{
    box-shadow: -0.2px -0.2px 0.8px 0.8px #dad2d2;
}
.de_fix_img img{
    width: 100%;
   
}
.de_fix_fast_font{
    display: grid;
    grid-template-columns: 20% 40% 40%;
}

.de_fix_color{
    width: 50%;
    margin: 0 auto;
    display: block;
    border: 1px solid #e2cbcb;
    box-sizing: border-box;
}
.color-select{
    text-align: center;
    margin: 1vw auto;

}
.de_fix_color h4{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #e9d0d0;
    margin: 0px;
    font-family: 'Atma', cursive;
}
.de_fix_color i{
    line-height: 22px;
    background: #dcbcbc;
    width: 25px;
    height: 24px;
    color: #612222;
    border-radius: 57%;
}
.de_fix_fontA{
    margin: 10px;
    font-size: 1.5vw;
}
.de_fix_fontA a{
   text-decoration: none;
   
}
.de_fix_fontB{
    margin: 10px;
    text-align: right;
    font-size: 2vw;
}
.de_fix_fontC{
    margin: 10px;
    text-align: center;
    position: relative;
}
.de_fix_color2 i{
    line-height: 22px;
    background: #dcbcbc;
    width: 25px;
    height: 24px;
    color: #612222;
    border-radius: 57%;
}
.de_all_product_con{
    padding: 0 6vw;
}

.de_all_product a{
    text-decoration: none;
}

.de_product{
    box-shadow: 2px 0px 2px 1px #e0c1c1;
    text-align: center;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 4.5vw;
    height: 2.5vw;
    margin: 4px 0 0 0;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;  
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 2vw;
    width: 2vw;
    left: 4px;
    bottom: 4px;
    background-color: #e70404;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #e5ecf1;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.de_fix_font a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    color: #323037;
}
.select_color {
    display: inline-block;
    margin: 2px;
    border-radius: 6px;
}

.select_color a{
    width: 2vw;
    height: 1.5vw;
    margin: .1vw;
    display: inline-block;
}
.select_color:hover{
    transform: scale(1.2); 
}
.select_color a:focus{
    border: 1px solid #fff;
}



.color-select i{
    display: inline-block;
    background: none;
}
.de_product_dolar{
    display: inline-block;
    width: 20%;
    text-align: center;
    border: 1px solid #dac5c5;
}
.de_product_dolar2{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 1vw 0px;
    background: #F4F4F4;
    border: 1px solid #dec3c3;
}
.de_fix_color2 {
    width: 50%;
    margin: 5vw  auto;
    display: block;
    border: 1px solid #e2cbcb;
    box-sizing: border-box;

}
.de_fix_color2 h4{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #e9d0d0;
    margin: 0px;
}


.de_product_input input{
    margin: 1vw 0vw 1vw 5vw;
    width: 70%;
    color: red;
    text-align: center;
    padding: 8px;
    border: 2px solid;
    font-size: 3vw;
}

.drop_file_zone{
    display: inline-block;
}
.input_table{
    width: 80%;
    margin: 0 5vw;
    height: 10vw;
    background: #E6E2DF;
}
.de_product_dolar2  :nth-child(2){
    float: right;
    display: block;
    background: none;
    margin: 3px 8px 10px 0px;
 }

.de_product_dolarA {
    display: inline-block;
    width: 30%;
    height: 2vw;
    text-align: center;
    border: 1px solid #dac5c5;
    line-height: 2vw;
}

.drop_file_zone {
    background-color: #fff;
    border: #999 5px dashed;
    width: 18vw;
    height: 12vw;
    padding: 4vw 3vw 0vw 3vw;
    font-size: 1vw;
    margin-bottom: 4vw;
}
.drag_upload_file {
    width:49%;
    margin:0 auto;
}
.drag_upload_file p {
    text-align: center;
}
.de_product_img{
    width: 50%;
    margin: 0 auto;
    height: auto;
}
.de_product_img img{
    width: 100%;
}
.de-preview{
    position: absolute;
    top: 28%;
    left: 75%;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3vw;
}
.de-edit{
    position: absolute;
    top: 24%;
    left: 35%;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3vw;
}
.de-a-font{
    margin: 5px;
}
.de-last-button{
  text-align: center;
}
.de-last-buttona{
    padding: 1vw 2vw;
    font-size: 2vw;
    background-color: blue;
    color: #fff;
    outline: none;
    border: none;
    
}
.de-cost-per{
    border-top: 1px solid  #decdcd;
    margin: 1vw 0 0 0;
}
.de-cost-per p{
    display: inline-block;
    width: 68%;
    font-size: 1.5vw;
    font-weight: 700;
    color: #3c2626;
}
.de-cost-per h3{
    display: inline-block;
    width: 30%;
    color: #3d1ac6;
}


.de-cost-perb{
    border-top: 1px solid  #decdcd;
    margin: 1vw 0 0 0;
}
.de-cost-perb p{
    display: inline-block;
    width: 68%;
    font-size: 1.5vw;
    font-weight: 700;
    color: #3c2626;
}
.de-cost-perb h3{
    display: inline-block;
    width: 30%;
    color: #3d1ac6;
}



@media only screen and (max-width: 768px) {
    .de_fix_color {
        width: 70%;
    }
    .select_color a {
        width: 3vw;
        height: 2.5vw;
    }
    .de_fix_color2 {
        width: 70%;
    }
    .de_fix_color2 i {
        margin: 0 0 0 1vw;
    }
    .de-edit {
        top: 10%;
        left: 25%;
        font-size: 1.7vw;
    }
    .de-preview {
        top: 12%;
        left: 75%;
        font-size: 1.7vw;
    }
    
    
}
@media only screen and (max-width: 375px) {
    .de_fix_product {
        grid-template-columns: 100%;
    }
    .de_all_product_con {
        padding: 0;
    }
    .de_all_product {
        grid-template-columns:  auto;
        
    }
    .de_fix_img {
        height: 61vw;
    }
    .select_color a {
        width: 6vw;
        height: 6.5vw;

    }
    .de_fix_fontA {
        font-size: 13px;
    }
    .de_fix_fontB {
        font-size: 15px;
    }
    .de-edit {
        top: 8%;
        left: 13%;
        font-size: 11px;
    }
    .de-preview {
        font-size: 10px;
    }
    .switch {
        width: 38px;
        height: 15px;
        margin: 0 0 0 -16px;
    }
    .slider:before {
        height: 10px;
        width: 10px;
        left: 4px;
        bottom: 4px;
      
    }
}

/* contack-us page start */
#cu-main-body{
    /* background-color: #57A221; */
}
.cu-main-wapper{
   
}
.cu-main{
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 5%;
}
.cu-ri-detial h2{
    font-size: 2vw;
    color: #395E64;

}
.cu-fome input[type=input]{
    display: block;
    width: 70%;
    padding: 1.5vw 1vw;
    margin: 10px 0;

}
.cu-fome input[type=email]{
    display: block;
    width: 70%;
    padding: 1.5vw 1vw;
    margin: 10px 0;

}
.cu-fome textarea[type=message]{
    display: block;
    width: 70%;
    padding: 1.5vw 1vw;
    margin: 10px 0;
    height:5vw;

}
.cu-fome input[type=submit]{
    display: block;
    width:50%;
    padding: 1vw 1vw;
    margin: 10px 0;
    background-color: #2196F3;
    color: #fff;
}
.cu-le-contack{
    margin-left: 10%;
}
.cu-le-contack h2{
    font-size: 2vw;
    color: #395E64;
}
.cu-le-contack p{
    font-size: 1.2vw;
    color: #395E64;
}
.cu-font-text{
    font-size: 2.5vw;
    margin: 4vw 0;
    color: #4d6e74;
}

.cu-font-text span{
  margin: 0 3vw;
  font-size: 2vw;
}
.cu-font-text a{
    text-decoration: none;
    color: #395e64;  
    cursor: pointer;
}
.cu-font-text i:hover{
    transform: scale(1.5); 
    transition: transform 1s;
    
}
.cu-font-text a:hover{
    color: rgb(121, 109, 109);  

}

/* about-us start */
#ab-main-body{
    margin: 0;
    padding: 0;
}
.ab-heading-fast{
    width: 100%;
    height: 6vw;
    line-height: 6vw;
    text-align: center;
    background-color: #153940;
}
.ab-heading-fast h2{
    color: #fff;
    font-size: 2.5vw;
    margin: 0;
    padding: 0;
}
.ab-detal{
    display: grid;
    grid-template-columns: 70% 30%;

}
.ab-detal-all-l{
    border-right: 02px solid #e7eff0;
    
}
.ab-detal-all-l h3{
    text-align: center;
    color: #153940;
    font-size: 2vw;
}
.ab-headin-img{
    width: 22vw;
    margin: 0 auto;
    min-width: 40px;
    max-width: 300px;

}
.ab-headin-img img{ 
    width: 100%;
}
.ab-detal-all-l p{
    text-align: center;
    color: #153940;
    font-size: 1.5;
}
.ab-side-menu{
    width: 100%;
}
.ab-side-menu ul{
    margin: 0 auto;
    text-align: center;
}
.ab-side-menu ul li{
    list-style: none;
    margin: 3vw 0 0 0;
    width: 80%;
    font-size: 2vw;
    padding: 1vw;
    background-color: #153940;
}
.ab-side-menu ul li:hover{
    transform: scale(1.2); 
    transition: transform 1s;
    cursor: pointer;
}
.ab-side-menu ul li a{
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}  