html,body {
    font-family: Verdana, sans-serif, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    background: #fff;
}
/* loader */

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display:  flex ;
    justify-content: center;
    align-items: center;
}
.loader > img {
    width: 100px;
} 
.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
  
.container{
  width: 1200px;
}
.banner {
  background: url(img/background1.jpg) 0 0 no-repeat;
  background-size: cover; 
}
.banner:after {
    position: relative;
    margin-top: -200px;
    content: "";
    display: block;
    width: 100%;
    height: 438px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjQzOCI+PHBhdGggZD0iTTAgNDA1LjhjNDIuNC0xNC41IDg0LjctMjkuNSAxMjcuNC00My4yIDIyLjgtNy4zIDQzLjMtMTguOSA2NC4zLTI5LjggMzUuMS0xOC4yIDcwLjEtMzYuNyAxMDUtNTUuMSAyLjMtMS4yIDQuMi0xLjQgNi43LS43IDQ3LjYgMTMuNCA5NS4yIDI2LjggMTQyLjkgNDAgMi4zLjYgNS4yLjUgNy40LS4zIDQ3LjgtMTYuNiA5NS41LTMzLjMgMTQzLjMtNTAuMSAyLjItLjggNC40LTEuOCA2LjUtMi45IDQ3LjctMjUuNSA5NS41LTUxLjEgMTQzLjItNzYuNyAyLjQtMS4zIDQuNC0xLjMgNi45LS4zIDQ3LjUgMTkuMSA5NS4xIDM4LjEgMTQyLjYgNTcuMiAyLjcgMS4xIDQuNyAxIDcuMy0uMyA0Ny42LTI0LjYgOTUuMy00OS4xIDE0My03My44IDIuMi0xLjEgNC4yLTIuNyA1LjktNC41IDQ4LjUtNTQuMyA5Ny0xMDguNyAxNDUuNS0xNjMuMWwyLjEtMi4xdjQzOEgwdi0zMi4zeiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==) 50% 50% no-repeat;
    background-size: cover;
    pointer-events: none;
}
.banner-text{
    padding-top: 70px;
}
.navbar {
    padding-top: 70px;
}
.navbar-nav li{
    padding: 0 15px;
    position: unset;
}
.navbar ul li a{
    color:#fff !important;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    padding: 10px;
}
.nav-item:hover  .mega-menu{
    display: none;
}
.banner-headin{
    margin-top: 22px;
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    animation: mymove ;
    animation-fill-mode: forwards;
    animation-delay: .4s;
    animation-duration: 1s;
    opacity:0;
}
.banner-headin-1{
  display: block;
  animation: mymove ;
  animation-fill-mode: forwards;
  animation-delay: .8s;
  animation-duration: 1s;
  opacity:0;
}
.banner-para{
    color: #fff;
    font-size: 25px;
    line-height: 38px;
    padding: 20px 0;
    font-weight: 500;
    animation: mymove ;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 1s;
    opacity:0;
    transition: all .2s
}
.header-button,
.header-button1{
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    padding: 1em 2.8em;
    text-decoration: none;
    border: 1px solid transparent;
    background: #fe504f;
    transition: all .2s;
    font-weight: 400;
    border-radius: 40px;
    animation: mymove ;
    animation-fill-mode: forwards;
    animation-delay: 1.2s;
    animation-duration: 1s;
    opacity:0;
}
.header-button1{
    background: #343434 ;
    margin-left: 4%;
}
.banner-buttons a:hover {
    color: #fff; 
    text-decoration: none;
}
.banner-buttons{
    padding-top: 3%;
    padding-bottom: 3%;
}

/* OUR SERVICES */
.our-servise{
    width: 100%;
}
.center{
   text-align: center;
}
.servis-border{
    margin-top: 0;
    width: 30%;
    border: 2px solid #FE5150;
}
.servise-headimg{
    text-align: center;
    font-size: 24px;
    color: #000;
    padding: 10px;
}
.servise-perag{
    padding: 21px;
    font-size: 15px;
    margin: 0 0 20px 0;
    line-height: 24px;
    text-align: center;
    color: #969696;
}
@keyframes mymove {
    from {opacity: 0;}
    to {opacity: 1;}
}
.contack-us-main{
    padding-top: 50px;
    padding-bottom: 50px;
}
.contack-us{
    background-image: url(./img/background3.jpg) ;
    height: 300px;
    background-attachment: fixed;
    overflow: hidden;
    background-size: cover;
    position: top-center;
}
.contack-us h2{
    line-height: 40px;
    color: #fff;
    margin: 0.5em auto;
    font-weight: 700;
    padding-top: 5%;
    text-align: center;
}
.contack-bottom{
    text-align: center;
    padding-top: 4%;
}
.contack-us a{
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    padding: 1em 2.8em;
    text-decoration: none;
    border: 1px solid transparent;
    background: #fe504f;
    font-weight: 400;
    border-radius: 40px;
    text-align: center;
}

/* ABOUT US  */
.client-img {
    width: 100%;
    padding: 2px;
}
.client-img img{
    width: 100%;
}
.about-us-main h2{
    color: #343434;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.about-us-main{
    padding-top: 50px;
    padding-bottom: 50px;
}
.about-header-para{
    color: #777;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.about-para{
    color: #777;
    font-size: 16px;
    line-height: 24px;
}
.about-us-border{
    width: 8%;
    margin: 0;
    border: 2px solid red;
    margin-bottom: 5%;
}
.about-us-fast h3{
    font-size:18px;
    color:red;
}

/* OUR TEAM */
.our-team-heading h2{
    font-weight: 700;
    color: red;
    font-size: 16px;
}
.our-team-heading hr{
    border: 2px solid red;
    margin-left: 0;  
    width: 6%;
}
.team-img{
    width: 100%;
    margin: 0;
    position: relative;
    padding: 0;
}
.team-img img{
    width: 100%;
}
.team-1{
    width: 100%;
    color: #fff;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fe504f;
    opacity: 0;
    transition: all .3s;
    cursor: pointer;
}
.team-6{
    width: 108%; 
}
.team-1:hover{
    opacity: 1;
}
.team-1 h2{
    text-align: center;
    margin-top: 10px;
}
.team-1 h4{
    text-align: center;
    margin-top: 10px;
}
.team-1 p{
    text-align: center;
}


/* WE BLEND */
.we-blend{
    padding-top: 70px;
    padding-bottom: 70px;
}
.we-blend-main{
   background-image: url(./img/background4.jpg);
   height: 400px;
   padding-top: 70px;
}
.we-blend-main h2{
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.we-blend-main p{
    color: #fff;
    text-align: center;
}
.we-blend-font {
    font-size: 45px;
    color: #fff;
    background: #fe504f;
    height: 86px;
    line-height: 86px;
    text-align: center;
    width: 8%;
    border-radius: 42px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

/* news */
.news{
    padding-bottom: 70px;
    display: inline;
}
.news-content-all h2{
    text-align: center;
    color: #000;
    font-weight: 700;
}
.news-content-all p{
    width: 80%;
    text-align: center;
    margin: 30px auto;
    font-size: 17px;
    font-weight: 200;
}
.newa-conten{
    width: 100%;
    background-color: #222222;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 39px;
}
.newa-conten a{
    font-size: 20px;
    color: red;
}
.newa-conten p:nth-child(2){
    font-size: 15px;
    color: #fff;
    padding-bottom: 3px;
}
.newa-conten p:nth-child(3){
    font-size: 15px;
    color: red;
    padding-bottom: 4px;
    text-align: right;
}
.newa-conten::before {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -20px;
    right: 20px;
    left: auto;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #212121;
    border-top: 0;
}
.newa-conten::before {
    top: 20px;
    left: -20px;
    right: auto;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #212121;
    border-left: 0;
    z-index: 100;
}
.news-all::before {
    left: 98%;
    transform: rotate(182deg);
}
.news-co-img{
    width: 100%;
}
.news-co-img img{
    width: 100%;
    height: 100%;
}
.news-all-a::before {
    left: 90%;
    top: -28px;
    transform: rotate(90deg);
}
.news-img  img{
    width: 100%;
    height: 100%;
}
.news-img-1  img{
    width: 100%;
    height: 100%;
}
.news-fast{
    padding-bottom: 20px;
}
.news-respos{
    width: 100%;
    height: 200px;
    padding: 0;
}
.news-respos img{
    width: 100%;
    height: 100%;
}
.news-respos-content{
    width: 100%;
    background-color: #222222;;
}
.news-respos-content h2{
    color: red;
}
.news-respos-content p:hover{
   color: red;
   text-decoration: none;
}
.news-responsive{
    display: none;
}

/* footer */
.footer-main{
    padding-top: 70px;
    margin-top: 70px;
    background-image: url(./img/footer-background.jpg);
}
.footer-form{
    width: 100%;
}
.footer-form input[type="text"]{
    display: block;
    background: transparent;
    width: 80%;
    margin: 10px 0;
    color: #fff;
}
.fome-body{
   padding: 8px;
}
.footer-form input[type="email"]{
    display: block;
    background: transparent;
    width: 80%;
    margin: 10px 0;
    color: #fff;
}
.footer-form textarea{
    display: block;
    height: 150px;
    background: transparent;
    width: 80%;
    margin: 10px 0;
    color: #fff;
}
.fome-submit{
    padding: 10px;
    background-color: #FD504F;
    width: 28%;
    border: none;
    font-size: 20px;
    color: #fff;
    border-radius: 40px;
    margin-bottom: 20px;
    outline: none;
}
.footer-bottom{
    background-color: #212121;
    padding-bottom: 40px;
    padding-top: 40px;
}
.footer-main h2{
    color: #FD504F;
    font-weight: 700;
}
.footer-main p{
    color: #fff;
    width: 76%;
}
.footer-hr{
    border: 2px solid #FD504F;
    width: 12%;
    margin: 0;
    margin-bottom: 20px;
}
.footer-list{
    padding: 0;
}
.footer-list li{
    list-style: none;
    padding: 3px;
}
.footer-list li a{
    color: #FD504F;
}
.footer-list span{
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}
.footer-font{
    display: inline-block;  
    height: 30px;  
    line-height: 29px;  
    width: 26px;   
    font-size: 20px;    
    text-align: center;   
    border: 2px solid #FD504F;
}
.social-icon{
    text-align: right;
    font-size: 18px;
    font-weight: 700;
    color:#fff;
}
.social-icon ul li{
    display: inline-block;
    list-style: none;
    border-left: 2px solid #fe504f;
}
.social-icon ul li:nth-child(1){
   border: none;
}
.social-icon ul li a{
   margin: 0 10px;
   color: #fe504f;
}
.social-icon ul li a:hover{
    color: #fff;
}



/*---Media Queries --*/
@media (max-width: 992px) {
    .container{ 
        width: 100%;
      }
    .banner-headin {
        margin-top: 10px;
        font-size: 60px;
    }
    .news-responsive{
        display: block;
    }
    .news{
        display: none;
    }
}

@media (max-width: 768px) {
    .nav-background{
        background-color: rgba(0,0,0,.5);
    }
    .navbar {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .banner-headin {
        margin-top: 0px;
        font-size: 41px;
    }
    .banner-para {
        font-size: 22px;
    }
    .banner-buttons {
        padding-bottom: 10%;
    }
    .contack-us h2 {
        font-size: 27px;
    }
  
    .news-content-all p {
        width: 100%;
    }
    .social-icon {
        text-align: center;
    }
    .footer-main p {
        width: 100%;
        text-align: center;
    }
    .we-blend-font {
        font-size: 30px;
        height: 50px;
        line-height: 50px;
        width: 8%;
    }
    
}

@media (min-width: 576px){
    .we-blend-font {
        font-size: 25px;
        height: 50px;
        line-height: 50px;
        width: 8%;
    }
    .container{

        width: 100%;
    }
}




/* News page css */
.news-header{
    height:350px;
}
.news-img-a{
    width:76%;
    height: 40%;
    position: absolute;
    top: 20%;
    left: 11%;
}
.news-img-a img{
    width: 100%;
    
}
.news-header-a{
    position: absolute;
    bottom:-15px;
    left: 11%;
    background: #212121;
    height: 95px;
    line-height: 0;
}
.news-header-a::before{
    top: 20px;
    left: -20px;
    right: auto;
    border-top: 20px solid transparent;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -20px;
    left: auto;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #212121;
    border-top: 0;
    transform: rotate(0deg);
}
.news-header-a h4{
   color:#FE5150;
   font-size: 25px;
   padding-top: 20px;
}
.comments{
   margin-bottom: 40px;
}

/* news all page css */
.news-all-h h1{
    text-align: center;
    color: #fff;
    margin: 70px 0;
}
.news-pp{
   padding-bottom: 40px;
}

.news-show{
    width: 20%;
    background-color: #212121;
    text-align: center;
    margin: 12px auto 50px auto;;
    padding: 20px;
}
.news-show a{
 color: #FD504F;
}

/* mega menu */
.mega-menu{

    position: absolute;
    top: 90%;
    left: 0;
    background: #111111;
    width: 100%;
    z-index: 2;
    display: block;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

    
.mega-fast {
    border-right: 1px solid rebeccapurple;
    padding: 40px 10px;
}
.mega-fast a{
    font-size: 14px;
    font-weight: 500;
    padding: 9px 0 9.1px;
    text-align: center;
    display: block;
    color: #fff;
}
.mega-sceand{
    padding: 50px 10px;
}
.mega-sceand a{
    text-align: left;
    font-size: 12px !important;
    font-weight: 300 !important;
    padding: 5.2px 0 !important;
    letter-spacing: 1.8px;
    text-decoration: none;
    color: #fff;
}


/* product page css */
.product{
    background: url(./img/product/slide-1@2x.jpg) 0 0 no-repeat;
    background-size: cover; 
    height: 625px;
    width: 100%;
}
.product-text{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    width: 100%;
}
.product-text h1{
  font-size:60px; 
  padding-top: 70px;
  padding-bottom: 70px;
}
.product-img{
    width: 100%;
    padding: 0;
    margin-right: 0;
    position: relative;
}
.product-list{
    margin: 0;
}
.product-img img{
    width: 100%;
}
.product-h{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.product-h:hover{
    opacity: 1;
}
.product-h h2{
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    width: 60%;
    margin: 11.5% auto 0;
    letter-spacing: 4px;
    text-align: center;
}
.product-h p{
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    margin: 20px auto ;
}
.pro-slide{
    padding-top: 25%;
}
.pro-slide h2{
    font-weight: 500;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.6px;
}
.pro-slide ul{  
    text-align: center;
    justify-content: center;
}
.pro-slide li{
    list-style: none;
    display: inline-block; 
    text-align: center;
}
.pro-slide a{
    color: #BCBCBC;
    padding: 30px;
    padding: 0;
}
.slider-main{
    width: 100%;
}
.slider-main img{
    width: 100%;
}
.slider-text{
    color: #fff;
}
.slider-text a{
    color: #000;
}
.slider-text p{
    color: #000;
    font-size: 12px;
    padding: 0;
    margin: 0;
    text-align: center;
}
.slick-dots li button {
    font-size: 0px;
    width: 10%;
    height: 10%;
    background: #b8adc1;
    border-radius: 40px;
}
.pro-slide li {
    padding: 0px;
}
.pro-link{
    padding: 30px !important;
}
.view-all {
    width: 100%;
    text-align: center;
    padding: 45px 0 60px;
}
.view-all a{
    background-color: #000;
    color: #fff;
    padding: 16px;
    width: 25%;
}
.view-all a:hover{
    background-color:#b3d4fc;
    color: #000;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 2px solid #000;
}
.slick-dots li button:before {
    font-size: 0px;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-bottom:2px solid red ;
    border-left: none;
    border-right: none;
    border-top: none;
}
.rankin{
    width: 100%;
    padding: 30px 20px;
}

/* The heart of the matter */
.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
}

.item-all{
    width: 100%;
    box-sizing: border-box;
}
.item-one{
    width: 12%;
    min-width: 20px;
}
.item-one img{
    width: 100%;
}
.item-two{
    width: 70%;
    min-width: 100px;
}
.item-two img{
    width: 100%;
}
.item-text{
    width: 100%;
}
.item-text a{
    font-size: 12px;
}
.item-title{
    font-size: 13px;
    font-weight: 700;
    color: #111111;
    padding-top: 10px;
    margin: 0;
}
.item-brand{
    font-size: 12px;
    font-weight: 400;
    color: #969696;
    padding: 1px 0;
    margin: 0;
    letter-spacing: 0.3px;
}
.slider-img-all img{
    width: 33%;
}
.styling-slider{
    padding: 70px 0;
}
.header-text{
    padding: 40px;
    text-align: center;    
    font-weight: 600;
}
.slider-02{
    width: 100%;
    height: 50%;
}
.slider2-img{
    width: 100%;
    height: 300px;
}
.slider2-img img{
    width: 100%;
}
.slider-container{
    padding: 0 40px;
}
.slider-img-01{
    position: relative;
}
.slider-over{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    padding:40% 40px;
}
.slider-over p{
  color: #fff;
}
.item-slider-main{
    display: grid;
    grid-auto-columns: auto auto;

}
.item-slider{
    width: 100%;
    padding: 0;
}
.item-slider img{
    width: 100%;
}
.slider-p{
    color: #fff;
}
.slider-2-over{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}
.over-img{
    max-width: 127px;
    margin: 20%  auto auto;
    padding-right: 6px;
}
.slider-2-over p{
    width: 80%;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}
.over-img img{
    width: 100%;
}
.client-main{
    padding: 40px 0;
}
.client-container{
    padding:0 15%;
    margin: 0 auto;
}
.client-all{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}
.client-a-img{
    width: 100%;
}
.client-a-img img{
  width: 100%;
}

.slick-next {
    right: -25px;
    display: none;
}
.slick-next:before, .slick-prev:before {
    display: none;
}
.slick-next, .slick-prev {
    position: absolute;
    display: none !important;
    padding: 0;
}

@media (min-width: 992px) {

}

@media (max-width: 767px) {
    .pro-slide {
        padding-top: 140%;
    }
    .pro-link {
        padding: 22px !important;
    }
    .client-all {
        grid-template-columns: auto auto auto auto;
    }
}
@media (max-width: 400px) {
    .pro-slide {
        padding-top: 97%;
    }
    .pro-link {
        padding: 8px !important;
    }
    .client-all {
        grid-template-columns:auto auto auto;
    }
    .product-text h1 {
        font-size: 35px;
    }
    .product-h h2 {
        font-size: 20px;
        width: 100%;
    }
}



/* horizontal scrollBar Style */

::-webkit-scrollbar {
    width: 14px;
    height: 5px;

}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    height: 2px;
} 
/* Handle */
::-webkit-scrollbar-thumb {
    background:#C1C1C1; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


/* product details  page*/
.product-de{
    padding-top: 70px;
    padding-bottom: 70px;
}
.product-de-main{
    padding-top: 70px;
    padding-bottom: 70px;

}
.de-product-show{

}
.de-one-product{
    border-top: 1px solid gainsboro !important;
    border-bottom: 1px solid gainsboro;
    padding-left: 10px;
    box-sizing: border-box !important;
}
.de-one-product:hover{
   background-color: #F0F0F0;
}

.de-one-product h3{
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    font-weight: 500;
}

.de-product-tiem p > input[type='checkbox']:not(:checked) + label, input[type='checkbox']:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.5;
}
.de-product-tiem p > input[type='checkbox']:not(:checked), input[type='checkbox']:checked {
    position: absolute;
    left: -9999px;
}


.de-product-tiem p > input[type='checkbox']:not(:checked) + label:before, input[type='checkbox']:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 19px;
    border-radius: 1px;
    border: solid 1px #b7b7b7;
}
.de-product-tiem p > input[type='checkbox']:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
.de-product-tiem p > input[type='checkbox']:not(:checked) + label:after, input[type='checkbox']:checked + label:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 5px;
    transition: all .2s;
    width: 7px;
    height: 7px;
    border-radius: 1px;
    background-color: #111;
}

.product-select{
    display: inline-block;
    padding-bottom: 70px;
}

.size{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    padding: 5px;
}
.size-box {
    width: 55px;
    padding: 4px 0;
    border-radius: 1.2px;
    border: solid 1.2px #e0e0e0;
    float: left;
    margin-right: 8px;
    text-align: center;
    margin-bottom: 8px;
    font-size: 13.6px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #111;
}
.size-box {
    cursor: pointer;
}

p.color {
    margin: 0;
    width: 18px;
    display: inline-block;
    margin-bottom: 11px;
    margin-right: 24px;
}
label.white:before {
    background: #fff;
}
label.black:before {
    background: #000;
}
label.gray:before {
    background: gray;
}
label.merun:before {
    background: mediumseagreen;
}
label.light-gray:before {
    background: rgb(161, 139, 139);
}
label.green:before {
    background: green;
}
label.blue:before {
    background: blue;
}
label.purpel:before {
    background: purple;
}
label.yellow:before {
    background: yellow;
}
label.pink:before {
    background: pink;
}
label.red:before {
    background: red;
}
label.orange:before {
    background: orange;
}
label.blackwhite:before {
    background: blanchedalmond;
}
label.gradient:before {
    background: gainsboro;
}
label.multicolor:before {
    background: #222222;
}
p.color>input[type='checkbox']:not(:checked)+label:after, p.color>input[type='checkbox']:checked+label:after {
    content: url(./img/product/check_icon_white@x.png);
    top: 0px;
    left: -1px;
    background: transparent;
}


#amount{
    width: 20%;
}
.ui-slider-handle{
    border-radius: 50px;
    outline: none;
  
}
.ui-widget.ui-widget-content {
    width: 80%;
    margin: 20px 0;
}
.product-select{
   
}
.list-item-price{
    display: inline-block;
    float: right;
}
.init{
    cursor: pointer;
}
.djdj{}
.product-select-header{}
.select-in{
text-align: center;
}
#price-select{
    width: 50%;
    outline: none;
    color: black;
    border: 1px solid;
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
}
#price-select-all{
    position: absolute;
    right: 27%;
    z-index: 2;
    display: none;
    border: 1px solid;
    width: 46%;
    cursor: pointer;
}
#single-price1{
    display: block;
    padding: 10px;
    color: #000;
}
#single-price2{
    display: block;
    padding: 10px;
    color: #000;
}
#single-price3{
    display: block;
    padding: 10px;
    color: #000;
}

#single-price1:hover, 
#single-price2:hover,
#single-price3:hover{
    background-color: #000;
    border: none;
    color: #fff;
    text-decoration: none;
}

.select-font{
    margin-left: 12px;
}
.slider-text-p p{
    font-size: 11px;
    text-align: left;
}

.pagetion {
    padding: 90px 0 90px 0;
    text-align: center;
   
}
.pagetion ul li {
    display: inline-block;
    padding: 0px 10px;
}
.pagetion-first{
    background-color: #000;
}
.pagetion-first a{
    color: #fff;
}

/* product-detail page */
.product-de-header{
    width: 100%;
   padding: 30px;
}
.product-de-header p{
    color: grey;
}
.product-large-img{
    width: 80%;
    float: left;
    /* width: 600px; */
    margin: 3px 97px 0 119px;
    display: block;
}
.product-large-img img{
    width: 100%;
}
.detial-product{
    margin: 40px auto 0px;
}

/*  product-detail-info-right part */
.product-detail-info-right{
    width: 80%;
}
.product-detail-tag ul li{
    display: inline-block;
}
.product-detail-tag img{
    width: 43.8px;
}

.product-detail-title h2{
    width: 90%;
    font-size: 28px;
    font-weight: 900;
    line-height: 1.32;
    letter-spacing: 1.8px;
    text-align: left;
    color: #111;
    padding-bottom: 18px;
    border-bottom: solid 1px #f2f2f2;
}
.product-color p{
    font-size: 15px;
    font-weight: bold;
    color: #111;
 
}
.blacka{
    display: inline-block;
    margin-right: 11px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: black;
}
.reda{
    display: inline-block;
    margin-right: 11px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: red;
}

.select-color{
    border:2px solid yellow;
}

.product-size{
    /* width: 70%; */
}
.size-conten{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 6px;
   
}
.single-size{
    border: 1px solid #aeaeae;
    text-align: center;
    padding: 10px 0;
    width: 95%;
    border-radius: 4.2px;
    border: solid 1.1px #d8d8d8;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
}
.product-size h2{
    font-size: 15px;
    font-weight: bold;
    color: #111;
}
.select-size-add{
    border: 1.5px solid #111 !important;
}
.available{
    position: relative;
    color: #aeae;
}
.not-available{
    position: absolute;
    top: 0;
}
.not-available img{
    width: 100%;
}
.product-price-aria{
    padding: 40px 0;
}
.product-price{
    padding: 10px 0;
}
.price{
    color: red;
    font-size: 25px;
}
.price-tax{
    color: #aeaeae;
    font-size: 12px;
}
.membership{
    font-size: 12px;
}
.to-cart{
    /* width: 70%; */
}
.cart-main{
    background-color: black;
    padding: 16px;
    font-size: 24px;
    width: 73%;
    display: inline-block;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.love-font{
    font-size: 24px;
    width: 20%;
    display: inline-block;
    background-color: black;
    color: #fff;
    padding: 16px;
    text-align: center;
    cursor: pointer;
}

.love-fonta{
    font-size: 24px;
    width: 20%;
    display: inline-block;
    background-color: black;
    padding: 16px;
    text-align: center;
    color: red;
    cursor: pointer;
}
.small-image{
   width: 100%;
   display: inline-block;
}

.small-image li{
    display: inline-block;
    width: 24%;
}

.small-image img{
    width: 100%;
}

.prouct-p-detial{
    /* width: 76%; */
    padding: 40px 0;
}
.prouct-p-detial p{
    font-size: 14px;
    color: #000000c7;
}
.purchasing-noties{
    border: 1px solid red;
    padding: 15px;
    text-align: center;
}
.purchasing-noties a{
    color: red;
    font-size: 14px;
    font-weight: 600;
}
.purchasing-noties a:hover{
  text-decoration: none;
}
.svg-inline--fa.fa-w-14 {
    margin: 0 10px;
}
.strap-review-main{
    border: 1px solid #aeaeae;
    margin: 40px 0;
   
    text-align: center;
}
#strap-review {
    padding: 10px;
}
#strap-review h3{
    font-size: 20px;
    font-weight: 400;
    color: #000000bd;
}
#strap-font{
   margin-left: 20%;
}
#strap-review-content{
    display: none;
}

.user-review-main{
    border: 1px solid #aeaeae;
    margin: 40px 0;
   
    text-align: center;
}
#user-review {
    padding: 10px;
}
#user-review h3{
    font-size: 20px;
    font-weight: 400;
    color: #000000bd;
}
#user-font{
   /* margin-left: 20%; */
}
#user-review-content{
    display: none;
}
.review {
    font-size: 10px;
    color: yellow;
}